---
import Layout from '../components/layout.astro';
import DescribedLink from '../components/described-link.jsx';
---

<Layout
  title="How you can help"
  description="Some ways you can support the people of Ukraine and their loved-ones in Portland"
>
  <main>
    <h2>Donate</h2>
    <DescribedLink
       url="https://standforukraine.com/"
       linkText="Stand for Ukraine"
       description="StandForUkraine.com interfaces with a number of different aid organizations to make it as simple as possible to donate to the organization of your choice.  Over 36 organizations are currently listed!"
    />
    <DescribedLink
       url="https://www.unocha.org/ukraine"
       linkText="The Ukraine Humanitarian Fund"
       description="One of the UN's country-based pooled funds. Your donation will help humanitarian NGOs and UN agencies in Ukraine to assist the most vulnerable communities and people, and to provide them with urgently needed food, water, shelter, and other basic support."
    />
    <DescribedLink
       url="https://koloua.com/en"
       linkText="Kolo Ukraine"
        description="Non-lethal, critical support for Ukranian defenders."
    />
    <DescribedLink
       url="https://voices.org.ua/en"
       linkText="Voices of Children"
        description="Helps families affected by the war in Ukraine. It provides accommodation, humanitarian, and psychological support for refugees and helps Ukrainian children and families overcome the consequences of armed conflict."
    />
    <DescribedLink
       url="https://www.comebackalive.in.ua/"
       linkText="Come Back Alive"
        description="Defensive military and medical technology for the Armed Forces of Ukraine."
    />
    <h2>Welcome Refugees</h2>
      <p>President Biden has announced that the U.S. will receive 100,000
          refugees from the War on Ukraine.  Although they are currently
          experiencing delays at our southern border, they
          may begin to arrive in our cities soon.</p>
      <DescribedLink
          url="https://www.ukrainetakeshelter.com"
          linkText="Ukraine Take Shelter"
          description="Post a listing if you have some extra room and time to help newly arrived refugees obtain needed services."
      />
    <h2>Political Action</h2>
      <p>The Armed Forces and civilian population of Ukraine have amazed
          the world with their tremendous courage and unity, holding fast 
          against the aggression of the Russian superpower.
          But in the face of his unexpected
          losses, it's most likely that Putin will double down.</p>
      <p> In time, we know that Putin's regime will fall, but the cost to
          the people of Ukraine rises with every day of occupation.
          To end the war quickly requires significant military and humanitarian
          aid and a united EU and NATO.  While citizens of Ukraine stop tanks
          with their bodies, we must try to keep our government officials
          focused on this war, and let them know we are willing to tighten the
          belt for a victory on which the future of Europe and the free
          world depends.
      </p>
    <ul>
    <li>Join a group or start a new one
    <li>Reach out to other like-minded groups to coordinate actions
    </ul>
    <p>
       Working together we can raise awareness through...
    </p>
    <ul>
      <li> Non-violent public demonstrations
      <li> Sister City initiatives
      <li> Art, poetry and music
      <li> Being creative!
    </ul>
    <h2>Reach out to Neighbors</h2>
    <p>Many of our neighbors have family and friends living in dangerous 
       conditions in Ukraine or in refugee camps.  Familes have been broken up
       and loved ones have been lost.  We should do what we can to give moral
       support!
    </p>    
  </main>
</Layout>
