---
import Layout from '../components/layout.astro';
import DescribedLink from '../components/described-link.jsx';
---

<Layout
  title="Recent Ukraine History"
  description="Historical information on Ukraine and its relationships with Russia, Europe and the U.S."
>
  <main>
    <h2>Modern history of Ukraine</h2>
    <DescribedLink
       url="https://www.youtube.com/watch?v=S9FDabcyPWk"
       linkText="The War in Ukraine and the Future of the World"
        description="A brilliant discussion led by Anne Applebaum with historians Timothy Snyder and Yuval Harari on March 22, 2022"
    />
    <DescribedLink
       url="https://www.thestar.com/opinion/contributors/2022/03/26/the-zelenskyy-effect-why-ukraines-ze-is-defeating-russias-z.html"
       linkText="The Zelenskyy effect: Why Ukraine’s “Ze” is defeating Russia’s “Z”"
       description="Article in the Toronto Star by Olga Onuch and Henry Hale, March 26, 2022 &mdash; Includes important details about the 2014 Crimea Invasion."
    />
    <DescribedLink
       url="https://sethabramson.substack.com/p/the-truth-about-trump-and-ukraine"
        linkText="The Truth about Trump and Ukraine"
       description="Well-researched Article by Seth Abramson, March 30, 2022 &mdash; Motives and details of Donald Trump's various attacks on Ukraine"
    />
    <DescribedLink
      url="https://snyder.substack.com/p/the-sadness-of-sloviansk?s=r"
      linkText="The sadness of Sloviansk; How lies bring war"
      description="The tragic background story behind the words 'For the children' on Russian missiles that struck Kramatorsk"
    />
    <DescribedLink
      url="https://en.wikipedia.org/wiki/Euromaidan"
      linkText="Wikipedia - Euromaidan"
      description="A detailed article about the crucial events of 2013-2014"
    />
    <h2>A Taste of Ukrainian Culture</h2>
    <DescribedLink
      url="https://www.youtube.com/watch?v=hsNKSbTNd5I&list=LL&index=1"
      linkText="Dakha Brakha: NPR Tiny Desk Concert"
      description="Amazing quartet from Kiev!"
    />
  </main>
</Layout>
