---
import Layout from '../components/layout.astro';
import DescribedLink from '../components/described-link.jsx';
---

<Layout
  title="Local support"
  description="Local events and organizations supporting Ukraine"
>
  <main>
    <h2>Upcoming Events in the Portland Metro Area</h2>
    <DescribedLink
      url="https://voicesforukraine.org/"
      linkText="Voices for Ukraine Benefit Concert - A Benefit for Mercy Corps in Ukraine"
      description="May 1, 2022, 4 PM - Choral Concert at First United Methodist Church, Goose Hollow"
    />
    <h2>Social networking</h2>
    <DescribedLink
      url="https://www.meetup.com/portland-ukraine-support"
      linkText="Portland Ukraine Support Meetup"
        description="Meetup Group: Meet neighbors who share concern for Ukraine and discuss the current situation, where it may be heading, and how to get involved to help."
    />
    <DescribedLink
        url="https://www.facebook.com/UACANW/"
        linkText="Ukrainian-American Cultural Association of OR & SW WA"
        description="Facebook group: A non-profit, educational & cultural organization whose purpose is to promote Ukrainian heritage and traditions in the Pacific NW."
    />
    <h2>Churches</h2>
    <address>
      <em>Ukranian Orthodox Church<em><br>
      8014 SE 16th Ave<br>
      Portland, OR 97202<br>
      <a href="tel:(630) 768-5434">(630) 768-5434</a><br>
    </address>
    <br>
    <address>
      <em>Ukranian Bible Church<em><br>
      22820 NE Halsey St<br>
      Fairview, OR 97024<br>
      <a href="tel:(503) 661-1531">(503) 661-1531</a><br>
    </address>
  </main>
</Layout>
