---
import Layout from '../components/layout.astro';
import DescribedLink from '../components/described-link.jsx';
import WarMapLink from '../components/war-map-link.jsx';
import DayOfWar from '../components/day-of-war.jsx';
---

<Layout
  title="Status of the War on Ukraine"
  description="Information on the rapidly changing status of the war in Ukraine and war crimes committed"
>
  <main>
    <DayOfWar client:load />  
    <WarMapLink client:load
     linkText="Ukraine War Map"
     description="Interactive map showing the approximate situation of armed forces and controlled regions in Ukraine"
    />
    <DescribedLink
      url="https://samf.substack.com/p/escalators-and-quagmires"
      linkText="Escalators and Quagmires"
      description="Excellent recent article by the military historian Lawrence Freedman"
    />
    <DescribedLink
      url="https://kyivindependent.com"
      linkText="The Kyiv Independent"
      description="Independent news organization with frequent updates on the war"
    />
    <DescribedLink
      url="https://www.theguardian.com/us"
      linkText="The Guardian - US edition"
      description=""
    />
    <DescribedLink
      url="https://www.ifw-kiel.de/topics/war-against-ukraine/ukraine-support-tracker/"
      linkText="Ukraine Support Tracker"
      description="A database of military, financial and humanitarian aid to Ukraine.  Provides graphs showing support in Euros and percent GDP by country." 
    />
    <DescribedLink
      url="https://maphub.net/Cen4infoRes/russian-ukraine-monitor"
      linkText="Russian Ukraine Monitor"
      description="Tracks movements of Russian military hardware, casualties and infrastructure damage in and around Ukraine"
    />
    <DescribedLink
      url="https://ukraine.bellingcat.com"
      linkText="Civilian Harm Database"
      description="Bellingcat's interactive database of civilian harm in Ukraine provides timestamped geo-located data on events in which civilians were harmed in this war"
    />
    <DescribedLink
      url="https://snyder.substack.com/p/russias-genocide-handbook?s=r"
      linkText="Russia's genocide handbook"
      description="Evidence of the Russian leadership's intent to commit genocide in Ukraine"
    />
    <DescribedLink
      url="https://www.icc-cpi.int/Pages/item.aspx?name=20220228-prosecutor-statement-ukraine"
      linkText="International Criminal Court investigation"
        description="Follow the investigation by the International Criminal Court into war crimes committed in the war on Ukraine"
    />
    <DescribedLink
      url="https://www.ohchr.org/en/press-releases/2022/03/human-rights-council-establishes-independent-international-commission"
      linkText="UN Human Rights Council Commission of Inquiry"
      description="Investigation into human rights violations in the context of the Russian Federation's aggression against Ukraine"
    />
  </main>
</Layout>
