---
import Layout from '../components/layout.astro';
---

<style>
h2 {
  text-align: center;
}
</style>

<Layout
  title="Success"
  description="Thanks for contacting us.  We'll try to keep you up to date!"
>
  <main>
    <h2>Submission received!</h2>
  </main>
</Layout>
